<!DOCTYPE html>
<html>
  <head>
    <title>Create Strategy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/strategies">Strategy List</a></h3>
      <h1>Create New Strategy</h1>
      <form action="/strategies/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Variables</td>
              <td><textarea name="address"></textarea></td>
            </tr>
            <tr>
              <td>Currency</td>
              <td><input type="text" name="position" /></td>
            </tr>
            <tr>
              <td>Coin</td>
              <td><input type="number" name="salary" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
